/*------------Colores de fondo----------*/
/*------------Letras (Estilo, color)----------*/
/*------------Section----------*/
.wrapper {
  display: flex;
  flex: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .wrapper__title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d47559; }
  .wrapper__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(158, 189, 199, 0.288);
    /*padding: 30px 20px;
        width: 50rem;
        border-radius: 7px;
        
        font-size: 2.5rem;
        color: $font-color-form;*/
    /*
        &__input {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &__input {
                display: flex;
                background-color: $color-fondo-inputs;
                border: 0px transparent;
                border-radius: 5px;
                height: 3rem;
                width: 40rem;
                padding: 8px 10px;
                margin: 3px 8px 16px 8px;
                font-size: xx-large;
            }

            &__label {
                display: flex;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        &__buttons {
            display: flex;
            width: 40rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            
            &__button{
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                border: 0px transparent;
                width: 15rem;
                padding: 8px 10px;
                margin: 3px 8px 16px 8px;
                background-color: $color-fondo-buttons;
                color: $font-color-buttons;
                font-size: 2.5rem;
                
                &__a{
                    color: $font-color-buttons;
                }

                &:hover{
                    background-color:$color-fondo-buttons-hover;
                }
            }
            &__button--blue{
                background-color:$color-fondo-buttons-register;
                &:hover{
                    background-color:$color-fondo-buttons-register-hover;
                }
            }
        }*/ }

/*---------------------Media------------------------
@media (max-width: 600px) {
    .wrapper {
        &__title {
            font-size: 3vw;
        }
        &__form {
            font-size: 1vw;
            width: 40vw;
            &__input {
                &__input {
                    height: 3vh;
                    width: 30vw;
                    padding: 8px 10px;
                    margin: 3px 8px 16px 8px;
                    font-size: 1vw;
                }
            }
            &__buttons {
                width: 30vw;
                &__button{
                    width: 10vw;
                    padding: 8px 10px;
                    margin: 3px 8px 16px 8px;
                    font-size: 1.5vw;
                }
            }
        }
    }
}*/
