@charset "UTF-8";
/*------------Colores de fondo----------*/
/*------------Letras (Estilo, tamaño, color)----------*/
/*------------Body----------*/
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #0D202B;
  font-family: "Nunito", sans-serif;
  color: #6AA0A7; }

a:link,
a:visited,
a:active {
  text-decoration: none; }

/*------------Success-message-----------*/
.success {
  color: #E0E3E4;
  background-color: #D47559;
  padding-top: 2px;
  padding-right: 4px;
  position: fixed;
  bottom: 3px;
  right: 3px;
  justify-content: center;
  border-radius: 5px; }

/*--------------Error-message----------*/
.error {
  color: red; }
