/*------------Colores de fondo----------*/
$color-primario: #0d202b;
$color-fondo-form: rgba(158, 189, 199, 0.288);
$color-fondo-inputs: rgba(222, 239, 248, 0.877);
$color-fondo-buttons: #d47559;
$color-fondo-buttons-hover: #df623c;
$color-fondo-buttons-register: #2f94d0;
$color-fondo-buttons-register-hover: #127ab6;
/*------------Letras (Estilo, color)----------*/
$font-family: "Nunito", sans-serif;
$font-color: #6aa0a7;
$font-color-title: #d47559;
$font-color-form: #e0e3e4;
$font-color-buttons: white;

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__article {
        display: flex;
        height: 40vh;
        align-items: center;

        &__titulo {
            flex: 2;
        }
        &__imagen {
            flex: 1;
            height: 65%;
            width: auto;
        }
        &__formulario {
            flex: 1;
            display: flex;
            flex-direction: column;
            border-radius: 7px;
            background-color: $color-fondo-form;
            font-size: 3vw;
            height: 35vh;
            color: $font-color-form;
            justify-content: center;
            &__input {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                &__caja {
                    background-color: $color-fondo-inputs;
                    border: 0px transparent;
                    border-radius: 5px;
                    height: 3vh;
                    width: 45vw;
                    padding: 0px;
                    margin: 5px 8px 9px 8px;
                    font-size: small;
                }

                &__label {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            &__button {
                border-radius: 5px;
                border: 0px transparent;
                width: 20vw;
                padding: 5px;
                margin: 5px 8px 0px 8px;
                background-color: $color-fondo-buttons;
                color: $font-color-buttons;
                font-size: 3vw;
                &__a {
                    color: $font-color-buttons;
                }

                &:hover {
                    background-color: $color-fondo-buttons-hover;
                }
            }
        }
    }
}

@media (min-width: 425px) {
    .contenedor {
        gap: 5px;
        &__article {
            height: 60vh;
            gap: 5px;
            &__imagen {
                flex: 1;
                height: 55vh;
                width: auto;
            }
            &__formulario {
                height: 50vh;
                font-size: medium;
                padding: 10px 10px;
                &__input {
                    &__caja {
                        height: 1vh;
                        width: 30vw;
                        padding: 10px 5px;
                        font-size: medium;
                    }
                }

                &__button {
                    border-radius: 5px;
                    padding: 8px 10px;
                    margin: 3px 8px 16px 8px;
                    width: 15vw;
                    font-size: medium;
                }
            }
        }
    }
}
@media (min-width: 1000px) {
    .contenedor {
        &__article {
            height: 60vh;
            &__formulario {
                height: 58vh;
                &__input {
                    &__caja {
                        padding: 15px 10px;
                        font-size: large;
                    }
                    &__label {
                        font-size: x-large;
                    }
                }
                &__button {
                    font-size: x-large;
                }
            }
        }
    }
}
