.section {
    &__h3
    {
        text-align: center;
    }

    &__iconos {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
       &__img{
        margin: 0.313rem;
        filter: brightness(40%);
       }
         &__img:hover {
          transform: scale(1.2);
          transition: transform 0.2s;
         }
    }

    &__form
    {
        &__position
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 0.625rem;
            margin-top: 0.625rem;  
        }
    }

    &__aside
    {
        margin-left: 15%;
    }
}

.casillaPrimeraFila,
.casillaSegundaFila,
.casillaTerceraFila,
.casillaCuartaFila {
    border: solid #000a11 0.2rem;
    width: 120px;
    height: 120px;
}

.casillaInvisible {
    width: 60px;
    height: 0px;
}
