/*------------Colores de fondo----------*/
$color-primario: #0d202b;
$color-fondo-form: rgba(158, 189, 199, 0.288);
$color-fondo-inputs: rgba(222, 239, 248, 0.877);
$color-fondo-buttons: #d47559;
$color-fondo-buttons-hover: #df623c;
$color-fondo-buttons-register:#2F94D0;
$color-fondo-buttons-register-hover:#127ab6;
/*------------Letras (Estilo, color)----------*/
$font-family: "Nunito", sans-serif;
$font-color: #6aa0a7;
$font-color-title: #d47559;
$font-color-form: #e0e3e4;
$font-color-buttons:white;
/*------------Section----------*/
.wrapper {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 200%;
        color: $font-color-title;
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $color-fondo-form;
        padding: 30px 20px;
        width: 75%;
        border-radius: 7px;
        
        font-size: 100%;
        color: $font-color-form;

        &__input {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &__input {
                display: flex;
                background-color: $color-fondo-inputs;
                border: 0px transparent;
                border-radius: 5px;
                height: 20%;
                width: 80%;
                padding: 8px 10px;
                margin: 3px 8px 16px 8px;
                font-size: xx-large;
            }

            &__label {
                display: flex;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 150%;    
            }
        }

        &__buttons {
            display: flex;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            
            &__button{
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                border: 0px transparent;
                width: 80%;
                padding: 8px 10px;
                margin: 3px 8px 16px 8px;
                background-color: $color-fondo-buttons;
                color: $font-color-buttons;
                font-size: 150%;
                
                &__a{
                    color: $font-color-buttons;
                }

                &:hover{
                    background-color:$color-fondo-buttons-hover;
                }
            }
            &__button--blue{
                background-color:$color-fondo-buttons-register;
                &:hover{
                    background-color:$color-fondo-buttons-register-hover;
                }
            }
        }
    }
}

/*---------------------Media------------------------*/
@media (min-width: 600px) {
    .wrapper {
        &__form {
            width: 20%;
            &__input {
                width: 90%;
                &__input {
                    font-size: medium;
                }
                &__label {
                    font-size: medium;
                }
            }
            &__buttons {
               
                &__button{
                    width: 40%;
                    font-size: medium;
                }
            }
        }
    }
}
