/*------------Colores de fondo----------*/
$color-primario: #0d202b;
/*------------Letras (Estilo, tamaño, color)----------*/
$font-family: "Nunito", sans-serif;
$font-color: #6aa0a7;

/*------------Body----------*/
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: $color-primario;
    font-family: $font-family;
    color: $font-color;
    margin: 0;
    padding: 0;
}
a:link,
a:visited,
a:active {
    text-decoration: none;
}
/*------------Success-message-----------*/
.success {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e0e3e4;
    background-color: #d47559;
    padding-top: 2px;
    padding-right: 4px;
    position: fixed;
    bottom: 3px;
    right: 3px;
    justify-content: center;
    border-radius: 5px;
}
/*--------------Error-message----------*/
.error {
    color: red;
}
