$border-color-menu: #223941;
$color-menu:#123040;
$color-menu-title:#DF623C;
$font-color-menu: #e0e3e4;
$color-equipos: #112D3C;
.menu{
    display: flex;
    flex-direction: column;
    background-color:$color-menu;
    border: solid $border-color-menu 1px;
    border-radius: 7px;
    width: 12%;

    position: absolute;
    bottom: 0;
    left: 0;
    &__title{
        display: flex;
        flex-direction: row;
        background-color:$color-menu-title;
        border-radius: 7px;
        justify-content: space-between;
        align-items: center;
        width: 10.5rem;
        height: 2rem;
        & p{
            color:$font-color-menu;
            margin: 5px;
        }

        & button{
            background-color:$font-color-menu;
            border: 0px transparent;
            border-radius: 100%;
            margin: 5px;
        }
    }

    &__list{
        display: none;
        flex-direction: column;
        background-color: $color-equipos;
        border: solid $border-color-menu 1px;
        &__equipo{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border: solid $border-color-menu 1px;
            background-color: $color-equipos;
            border-radius: 7px;
            width: 700%;
            &__ranking{
                width: 5%;
                margin:  0.1rem 0.1rem 0.1rem 0.1rem;
            }

            &__imagenes{
                display: flex;
                flex-direction: row;
                &__img{
                    width: 12%;
                    margin: 0.1rem 0.1rem 0.1rem 0.1rem;
                }
            }
        }
    }
}
