/*------------Colores de fondo----------*/
$color-primario: #0d202b;
$color-fondo-form: rgba(158, 189, 199, 0.288);
$color-fondo-inputs: rgba(222, 239, 248, 0.877);
$color-fondo-buttons: #d47559;
$color-fondo-buttons-hover: #df623c;
$color-fondo-buttons-register: #2f94d0;
$color-fondo-buttons-register-hover: #127ab6;
/*------------Letras (Estilo, color)----------*/
$font-family: "Nunito", sans-serif;
$font-color: #6aa0a7;
$font-color-title: #d47559;
$font-color-form: #e0e3e4;
$font-color-buttons: white;

.caja {
    display: flex;
    flex-direction: row;
    padding: 6px 7px 5px 7px;
    gap: 5px;
    height: 5vh;
    justify-content: space-around;
    &__datos {
        display: flex;
        flex-direction: column;
        font-size: 10px;
        text-align: center;
        justify-content: center;

        gap: 1px;
        width: 20%;
        &__nombre {
            display: flex;
            align-items: center;
            justify-content: center;

            margin: 0px;
            width: 100%;
            color: $color-fondo-inputs;
        }
        &__victorias {
            margin: 0px;
        }
    }

    &__personajes {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin: 0px;
        padding: 3px;
        &__personaje {
            width: 30px;
            gap: 1px;

            &__imagen {
                height: 100%;
                text-align: center;
            }
            &__nombre {
                text-align: center;
                font-size: 5px;
                margin: 0px;
                width: 100%;
            }
        }
    }

    &__contenedor {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px 3px 9px 3px;

        &__formulario {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2px;
            padding-bottom: 5px;
            &__input {
                background-color: $color-fondo-inputs;
                border: 0px transparent;
                border-radius: 5px;
                height: 3vh;
                width: 15vw;
                padding: 2px;
                margin: 5px 8px 9px 8px;
                font-size: small;
                text-align: center;
            }
            &__button--orange {
                border-radius: 5px;
                border: 0px transparent;
                width: 7vw;
                padding: 4px;
                margin: 5px 8px 9px 8px;
                background-color: $color-fondo-buttons;
                color: $font-color-buttons;
                font-size: 3vw;
                &__a {
                    color: $font-color-buttons;
                }

                &:hover {
                    background-color: $color-fondo-buttons-hover;
                }
            }
        }
    }

    &__button--blue {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 5px;
        border: 0px transparent;
        width: 5vw;
        height: 5vw;
        padding-top: 2px;
        margin-top: 5px;
        background-color: $color-fondo-buttons-register;
        color: $font-color-buttons;
        font-size: 5vw;
        &:hover {
            background-color: $color-fondo-buttons-register-hover;
        }
    }

    &__button--orange {
        display: flex;
        justify-content: center;
        border-radius: 5px;
        border: 0px transparent;
        width: 5vw;
        height: 5vw;
        padding-top: 4px;
        margin-top: 5px;
        background-color: $color-fondo-buttons;
        color: $font-color-buttons;
        font-size: 3vw;

        &:hover {
            background-color: $color-fondo-buttons-hover;
        }
    }

    .aside {
        display: none;
    }
}

.box {
    display: flex;
    justify-content: center;
    .tablero {
        padding-bottom: 30px;
        display: none;
        .casillaPrimeraFila,
        .casillaSegundaFila,
        .casillaTerceraFila,
        .casillaCuartaFila {
            clip-path: polygon(
                50% 0%,
                100% 25%,
                100% 75%,
                50% 100%,
                0% 75%,
                0% 25%
            );

            width: 20px;
            height: 20px;
        }

        .casillaInvisible {
            width: 10px;
            height: 0px;
            background-color: $color-primario;
            border: 0.313rem solid $color-primario;
        }
    }
}
.seccion {
    padding: 0px 14px 0px 14px;
    &__titulo {
        padding: 0px 5px 0px 5px;
        color: $font-color-title;
    }
}

@media (min-width: 695px) {
    .caja {
        padding: 10px 5px 5px 5px;
        height: 7vw;
        &__datos {
            font-size: 15px;
            gap: 1px;
            width: 25%;
            &__nombre {
                margin: 0px;
                width: 100%;
            }
        }

        &__personajes {
            width: 100%;
            margin: 0px;
            gap: 20px;
            &__personaje {
                width: 55px;
                gap: 7px;
                &__imagen {
                    height: 85%;
                }
                &__nombre {
                    font-size: 10px;
                }
            }
        }

        &__contenedor {
            &__formulario {
                &__input {
                    height: 2vh;
                    width: 10vw;
                    padding: 4px 3px 15px 3px;
                    margin: 7px 12px 13px 13px;
                    font-size: 6px;
                }
                &__button--orange {
                    width: 5vw;
                    padding: 4px;
                    margin: 3px 5px 7px 4px;
                    font-size: 2vw;
                }
            }
        }

        &__button--blue {
            width: 3vw;
            height: 3vw;
            margin-top: 4px;
            font-size: 3vw;
        }

        &__button--orange {
            width: 3vw;
            height: 3vw;
            padding-top: 4px;
            margin-top: 4px;
            font-size: 2vw;
        }
    }

    .box {
        .tablero {
            .casillaPrimeraFila,
            .casillaSegundaFila,
            .casillaTerceraFila,
            .casillaCuartaFila {
                width: 45px;
                height: 45px;
                margin: 0 0.313rem 0 0.313rem;
            }

            .casillaInvisible {
                background-color: $color-primario;
                border: 0.313rem solid $color-primario;
                width: 32.5px;
                height: 0px;
            }
        }
    }
}

@media (min-width: 1000px) {
    .caja {
        height: 10vw;
        padding: 6px 25px 5px 25px;
        gap: 1px;
        &__datos {
            font-size: 20px;
            gap: 3px;
            width: 80px;

            &__nombre {
                margin: 0px;
            }
        }

        &__personajes {
            width: 75vw;
            margin: 0px;
            gap: 0px;
            &__personaje {
                width: 100px;

                &__imagen {
                    height: 65%;
                }
                &__nombre {
                    font-size: 18px;
                }
            }
        }

        &__contenedor {
            &__formulario {
                &__input {
                    height: 2vh;
                    width: 7vw;
                    padding: 8px 3px 8px 3px;
                    margin: 7px 12px 13px 13px;
                    font-size: medium;
                    
                }
                &__button--orange {
                    width: 3vw;
                    padding: 3px;
                    font-size: 1vw;
                }
            }
        }

        &__button--blue {
            width: 2vw;
            height: 2vw;
            margin-top: 3px;
            font-size: 2vw;
        }

        &__button--orange {
            width: 2vw;
            height: 2vw;
            padding-top: 8px;
            margin-top: 3px;
            font-size: 1vw;
        }
    }
}
